#logo{
    width: 20%;
    height: 4px;
}

body {
    font-size: 19px;
}
/*Ajout*/
header.masthead {
    position: relative;
    background-color: #848586;
    background: url("../pic/ACC.jpg") no-repeat center center;
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
  
  header.masthead .overlay {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
  }
  
  header.masthead h1 {
    font-size: 2rem;
    font: bold;
  }

table{
    width: 55%;
    margin: 30px auto;
    border-collapse: collapse;
    text-align: left;
}
tr {
    border-bottom: 1px solid #cbcbcb;
}
th, td{
    border: none;
    height: 30px;
    padding: 2px;
}
tr:hover {
    background: #F5F5F5;
}
thead{
    background-color: #2E8B50;
    color: white;
}

.frm {
    background: url(../pic/carous.jpg);
    background-size: cover;
    width: 100%;
    margin: 50px auto;
    text-align: left;
    padding: 20px; 
    border: 1px solid #bbbbbb; 
    border-radius: 5px;
}
h1.h1_title  {
    text-align: center;
    color : #fff;
    font:bold;
  background : #57889c;
  background-color : #57889c;

    -moz-box-shadow: 0 5px 3px rgba(0,0,0,.2), inset 0 -2px 0 rgba(0,0,0,.06);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.2), inset 0 -2px 0 rgba(0,0,0,.06);
  box-shadow: 0 1px 3px rgba(0,0,0,.2), inset 0 -2px 0 rgba(0,0,0,.06);

    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;

    padding: 8px; 
}
.frm1 {
    width: 70%;
    margin: 50px auto;
    text-align: center;
    font-size: xx-large;
    padding: 10px; 
    border: 1px solid #bbbbbb; 
    border-radius: 5px;
}
h1{
    text-align: center;
}
.form-group {
    margin: 10px 0px 10px 0px;
}
.form-group label {
    display: block;
    text-align: left;
    margin: 3px;
}
.form-group input {
    height: 30px;
    width: 93%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
}
.btn {
    padding: 10px;
    font-size: 15px;
    color: white;
    background: rgb(69, 126, 250);
    border: none;
    border-radius: 5px;
}
.edit_btn {
    text-decoration: none;
    padding: 2px 5px;
    background: #2E8B57;
    color: white;
    border-radius: 3px;
}

.del_btn {
    text-decoration: none;
    padding: 2px 5px;
    color: white;
    border-radius: 3px;
    background: #f1821a;
}
.call_btn {
    text-decoration: none;
    padding: 2px 5px;
    color: white;
    border-radius: 3px;
    background: #32c50e;
}
.contain{
   display: flex;
}
.callAll_btn {
    text-decoration: none;
    margin: auto;
    padding: 2px 5px;
    color: white;
    border-radius: 3px;
    background: #32c50e;
}
.msg {
    margin: 30px auto; 
    padding: 10px; 
    border-radius: 5px; 
    color: #3c763d; 
    background: #dff0d8; 
    border: 1px solid #3c763d;
    width: 50%;
    text-align: center;
}
.msg1 {
    margin: 30px auto; 
    padding: 10px; 
    border-radius: 5px; 
    color: #F5F5F5; 
    background: #2E8B50; 
    border: 1px solid #3c763d;
    width: 50%;
    text-align: center;
}
.error {
    padding: 5px; 
    color: rgb(223, 58, 58); 
    width: 50%;
}
.lab {
    width: 50%;
}
.hed {
    width: 100%;
}
